.header{
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px;
    display: flex;
}

.logo {
    background-color: #ff7f7f;
    height: 35px;
    animation: rotate-logo infinite 8s linear;
    margin-right: auto;
}



  
@keyframes rotate-logo {
    from {
      transform: scaleX(-1);
    }
}